//pure css
//menu button
@import "config";
.menu-button {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  @include easing;
  .burger-line {
    width: 48px;
    height: 6px;
    margin: 0 0 10px 0;
    background: #fff;
    @include easing;
  }
  //rotate menu button
  &.close {
    // transform: rotate(180deg);
    .burger-line {
      //first line
      &:nth-child(1) {
        background: #000;
        transform: rotate(45deg) translate(10px, 10px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        background: #000;
        transform: rotate(-45deg) translate(14px, -12px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
}

.nav-item {
  transform: translate3d(600px, 0, 0);
  @include easing;
  &.show {
    transform: translate3d(0, 0, 0);
  }
  &.current > a {
    color: #000;
  }
}

.nav-link {
  display: flex;

  position: fixed;
  // font-size: 60px;
  padding: 2rem 0;
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  @include easing;
  &:hover {
    color: #000;
  }
}

//delay
@for $x from 1 through 5 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
